* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 16px;
}
/* HEADER STYLES START */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* HEADER STYLES END */

/* HERO STYLES START */

.hero img {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* HERO STYLES END */

/* SERVICES STYLES START */

.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.services img {
    max-height: 200px;
}

/* SERVICES STYLES END */

/* FLOATS */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* FLOATS END */

/* SECTION STYLE START */

.modules {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* SECTION STYLE END */

/* BENEFITS STYLE START */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits-right-rail {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* BENEFITS STYLE END*/

/* FOOTER STYLE START */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* FOOTER STYLE END */